<%= form_for(@restaurant) do |f|%> 
    <%= render 'restaurants/errors' %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    
    <div>
      <%= f.label :price_range %> 
      <%= f.select :price_range,options_for_select(["$", "$$", "$$$"]), include_blank: true %>   
    </div>
    <div>
      <%= f.label :address %>
      <%= f.text_field :address %> 
    </div>

    <p> Select a Category that already exists: </p>
    <div>
      <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: 'Select One'%>
  
    </div>
  
    <%= f.submit %>
  <% end %>